#loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #EBF4FB;
    width: 504px;
    border: 1px solid #ACD8F0;
}

#loginform {
    padding-top: 18px;
}

#loginform p {
    margin: 5px;
}
