<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, {{loggedUser.firstName}}<b></b></p>
        <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
        <div style="clear:both"></div>
    </div>

    <div id="chatbox">


        <div *ngIf="isUserTyping && otherUser">
        {{otherUser.firstName}} is Typing....
        </div>
    </div>

    <!-- <form name="message" action="">
    </form> -->
    <div id="inputBox">
        <input id="usermsg" type="text" [(ngModel)]="inputVal" #ctrl="ngModel" (blur)="sendTypingEvent('stopped')" (keyup)="sendTypingEvent('typing')">
        <input style="width: 18%" id="submitmsg" type="submit" (click)="sendMessage()" value="Send">
    </div>

</div>